In [1]:
import numpy as np
import pandas as pd

In [2]:
dic ={
    "name":['saim','Fardin','nadim'],
    "id":[34,45,67],
    "place":['barisal','dhaka','savar']
}

In [3]:
boom = pd.DataFrame(dic)

In [4]:
boom

     name  id    place
0    saim  34  barisal
1  Fardin  45    dhaka
2   nadim  67    savar

In [5]:
boom.iloc(1)

In [6]:
boom.iloc(1)

In [7]:
print(boom.iloc(1))

<pandas.core.indexing._iLocIndexer object at 0x000001F5A2DAEA80>

In [8]:
boom.to_csv("nigga.csv")

In [9]:
boom.head(1)

   name  id    place
0  saim  34  barisal

In [10]:
boom.description()

AttributeError: 'DataFrame' object has no attribute 'description'

In [11]:
boom.describe()

              id
count   3.000000
mean   48.666667
std    16.802778
min    34.000000
25%    39.500000
50%    45.000000
75%    56.000000
max    67.000000